.modal-overlay-change {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(36, 36, 36, 0.5); /* Fondo oscuro */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content-change {
    background-color: #fffae8; /* Color beige */
    padding: 11px; /* Reducido para menos espacio interno */
    border-radius: 16px;
    width: 600px; /* Ancho fijo, ajusta según tu preferencia */
    max-width: 90%; /* Limita el ancho en pantallas pequeñas */
    height: fit-content;
    text-align: center;
    position: relative;
    padding-bottom: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.modal-logo-change {
    width: 100px;
    height: 100px;
}

.alinear {
    margin-left: 2rem;
}

.input-alinear {
    margin-left: -1rem;
}

.change-button {
    font-family: "Century Gothic", sans-serif;
    background-color: #D9412C; /* Botón rojo */
    color: white;
    border: none;
    padding: 10px;
    width: 50%;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}