.carrito-popup {
    min-width: unset; 
    max-width: unset;
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw; 
    height: 100vh; 
    background-color: #fffae8;
    border-radius: 0; 
    box-shadow: -5px 0px 50px rgba(0, 0, 0, 0.2); 
    overflow: hidden;
    font-family: "Century Gothic", sans-serif;
    font-size: 0.8rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.cart-content {
    padding: 15px;
    flex-grow: 1;
    overflow-y: auto;
    background-color: white; /* Fondo blanco para el contenido */
}

.footer-fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fffae8;
    border-top: 1px solid #e0e0e0; /* Añade una línea superior para separar */
}

.total-text {
    margin-left: 0.5rem;
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    color: #D9412C;
    font-size: 1rem;
    text-transform: uppercase;
}

.pagar-button {
    background-color: #D9412C;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.carrito-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #e8c7a4;
    text-align: center;
}

.title-header-cart {
    color: #161616;
    font-weight: bold;
    font-size: 35px;
    font-family: "Century Gothic", sans-serif;
    line-height: 1;
    margin: 0;
    margin-left: -0.5rem;
}

.product-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fffae8; /* Fondo blanco */
    border-radius: 8px;
    margin-bottom: 10px; /* Sombra ligera */
}

.cake-img {
    width: 80px; /* Tamaño de imagen fijo */
    height: fit-content;
    border-radius: 5px;
    margin-right: 10px;
}

.product-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 10px; /* Espacio entre imagen y detalles */
}

.product-name {
    font-weight: bold;
    font-family: "Century Gothic", sans-serif;
    font-size: 0.9rem;
    text-align: left;
    color: #161616;
    margin: 0;
}

.product-description {
    text-align: left;
    font-family: "Century Gothic", sans-serif;
    font-size: 0.8rem;
    color: #6e6e6e;
    margin: 2px 0;
}

.product-price {
    font-size: 0.9rem;
    color: #D9412C;
    font-weight: bold;
    text-align: right;
    margin-top: auto;
}

.items-cart {
    font-family: "Century Gothic", sans-serif;
    text-align: center;
    font-weight: bold;
    color: #6e6e6e;
    padding: 5px;
    font-size: 0.7rem;
}

.close-button-cart {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-right: -0.9rem;
}

.close-icon-cart {
    width: 35px;
    height: 30px;
}