

/* Estilos adicionales para la página de menú */
.menu-item-container {
    padding: 1rem;
    font-family: Arial, sans-serif;
    text-align: center;
}

.grid-item-bday {
    font-family: "Century Gothic", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item-bday img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.add-cart {
    background-color: #e8c7a4; /* Botón rojo */
    color: #161616;
    border: none;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem; /* Asegura que el botón esté debajo de la imagen */
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    align-items: center;
}


.menu-item-title {
    font-family: "Century Gothic", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    margin: 1rem 0;
    color: #161616;
}

.grid-container-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
}

.grid-container-item-W {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
}