.pedidos-title {
    font-family: "Century Gothic", sans-serif;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
    color: #333;
    margin-bottom: -0.1rem;
}

.pedidos-texto {
    font-family: "Century Gothic", sans-serif;
    display: block;
    color: #141414;
    font-size: 1.4rem;
    margin-top: 0.4rem;
    margin-left: 4rem;
    text-align: left;
    font-style: italic;
}

select {
    width: 30%;
    display: flex;
    justify-items:flex-start;
    margin-left: 4rem;
    margin-bottom: 1.5rem;
    margin-top: -0.5rem;
    padding: 12px;
    font-size: 16px;
    color: #7b4f2e;
    border: 1px solid #d4a373;
    border-radius: 8px;
    background-color: #f5e1c6;
    outline: none;
    appearance: none;
    position: relative;
    font-family: 'Century Gothic', sans-serif;
}